/*Minha paleta de cores por CSS para Sites*/

.para-menu{color: black; background-color: #413b3bb9;}

.para-botões{color:white; background-color: rgb(88, 88, 255);}

.para-hover-de-botões{background-color: rgb(60, 60, 253);}