
.masc{
    position: absolute;
    height: 100px;
    width: 100px;
    display: inline-block;
    text-align: right;
    
}
/*-----------------------------------------------------------------------------------*/